body{
        margin: 0;
        font-family: monospace;
}
#search-input{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#One-Piece-Header {
    display: flex;
    justify-content: center;
    background: goldenrod;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
}
#One-Piece-Header img{
    height: 6rem;
    width: auto;
}
#OP-Characters {
    margin: 2rem;
}
.card{
    text-align: center;
    border: rgb(20, 20, 20) 1px;
    padding: 1rem;
    width:  15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px lightblue;
}
.OP-Characters-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
}